body {
    font-family: Arial, sans-serif;
    background-color: #271673;
}
.form-container{
    max-width: 600px;
    margin: 30px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 5px solid #2b207a;
}

h1 {
    text-align: center;
    color: #b00000;
    margin-bottom: 5px;
    font-size: 24px;
}

h2 {
    text-align: center;
    color: #333333;
    margin-top: 0;
    font-size: 18px;
}

fieldset {
    border: 2px solid #5e4caf;
    border-radius: 8px;
    padding: 15px;
    background-color: #ffffff;
    margin-top: 20px;
}

legend {
    color: blue;
    font-weight: bold;
    font-size: 15px;
    padding: 0 8px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Radio y checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Secciones con borde */
.box-section {
    border: 2px solid #cccccc;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

button,
input[type="submit"] {
    background-color: #2b207a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover,
input[type="submit"]:hover {
    background-color: #96161c;
}

textarea {
    height: 80px;
}